
.main-header {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;
    text-align: center;
    background: #222 no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.main-header .inner {
    width: 80%;
}

.home-template .main-header:after {
    @include linear-gradient(rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);
    background-color: transparent;
    display: block;
    content: " ";
    width: 100%;
    height: 130px;
    position: absolute;
    top: 0;
    left: 0;
}

.vertical {
    display: table-cell;
    vertical-align: middle;
}


.page-title {
    margin: 10px 0 10px 0;
    font-size: 5.6rem;
    letter-spacing: 2px;
    font-weight: 200;
    font-family: 'Damion', cursive;
    color: #fff;
    
}

.page-description {
    margin: 0;
    font-size: 2.2rem;
    line-height: 1.5em;
    font-weight: 400;
    font-family: 'Bad Script', cursive;
    letter-spacing: 0;
    color: rgba(255,255,255,0.8);
}

.talk-container {
    padding: 10px 0;
    
    .talk-to-me-button {
        @include transition (all 0.3s ease-in-out);
        @include box-sizing(border-box);
        @include border-top-radius(3px);
        @include border-bottom-radius(3px);
        @include animation(fade-in-down 0.6s);
        @include animation-delay(0.2s);
        display: inline-block;
        height: 38px;
        margin-top: 10px;
        padding: 0 40px;
        border: #fff 1px solid;
        color: #eee;
        text-align: center;
        letter-spacing: 0.1em;
        font-size: 15px;
        line-height: 35px;
        white-space: nowrap;
        background: transparent;
    }
    .talk-to-me-button:hover {
        border-color: #FF6C6C ;
        color: #FF6C6C ;
    }
    .talk-to-me-button:before {
    }
}

.top-toggle-menu {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 99;
}

.menu-toggle {
    width: 30px;
    height: 30px;
    margin: 30px 10px 30px 30px;
    float: left;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;

    &.open {
        .one {
            @include transform(rotate(45deg) translate(5px, 5px));
        }
        .two {
            opacity: 0;
        }
        .three {
            @include transform(rotate(-45deg) translate(7px, -8px));
        }
    }

    div {
        width: 80%;
        height: 1px;
        background: white;
        margin: 8px auto;
        @include backface-visibility(hidden);
        @include transition (all 0.3s);

        &.two {
            width: 60%;
        }
    }
}

.top-menu {
    color: #fff;
    margin: 20px 0 0 70px;
    z-index: 10;
    display: none;
    ul {
        margin: -1px auto;
        padding: 0;
        li {
            float: left;
            list-style-type: none;
            margin: 0 auto;
            padding: 5px 18px;
            background: rgba(255,255,255, .1);
            text-transform: uppercase;
            font-size: 1.5rem;

            &:hover {
                background: rgba(255,255,255, .3);
            }

            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

/* ==========================================================================
   Animations
   ========================================================================== */

/* Used to fade in title/desc on the home page */
@-webkit-keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
